<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
          <ul>
            <li class="zerostatic"><a href="https://detachment207.com" target="_blank" rel="noopener noreferrer">Detachment207</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>