{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-default-single{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<h1 class="title">{{.Title}}</h1>
<div class="content {{if .Site.Params.enable_anchor_link}}{{ "anchor-link-enabled" }}{{ end }}">
  <h4>Table of Contents</h4>
  <aside>
    {{ .TableOfContents}}
  </aside>
  {{.Content}}
</div>
</div>
{{ end }}